.card{
    border-radius: 5%;
}
.confirmed{
    border-bottom: 10px solid rgba(0,0,255,0.7);
    border-radius: 5%;
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.7);
    border-radius: 5%;
}

.deaths{
    border-bottom: 10px solid rgba(255,0,0,0.7);
    border-radius: 5%;
}